:root {
  --mainBlue: #2a2a72;
  --lightGrey:#ffffff;	
  --black: #232323;
}

body{
  font-family: "Oswald", sans-serif !important;
  background: var(--lightGrey) !important;
  color: var(--black) !important;
}